.demo-container-panel {
	border:1px solid #eeeeee;
}

.demo-container-panel .head .page-header {
	height: 40px;
	margin: 0px;
	background-color: #eeeeee;
	padding:10px 10px 20px 10px;
}



.demo-container-panel .body {
	overflow: auto;
	padding: 4px;
}

.demo-foot {
	border:1px solid #eeeeee;
	position: fixed;
	bottom:0px;
	background-color: #eeeeee;
}

.property-collapse {
	overflow: visible;
}