<div class="jqx-calendar jqx-calendar-arctic jqx-widget jqx-widget-arctic 
			jqx-widget-content jqx-widget-content-arctic jqx-rc-all jqx-rc-all-arctic" 
	 style="outline: none; width: 250px; height: 250px;">
<div
	class="jqx-widget-content jqx-widget-content-arctic
		   jqx-calendar-month-container jqx-calendar-month-container-arctic"
	style="width: 250px; height: 250px;">
	<div style="height: 25px;">
		<table style="margin: 0px; width: 100%; height: 100%; border-spacing: 0px;" cellspacing="0" cellpadding="0">
			<tbody style="border: none; background: transparent;">
				<tr width="100%"
					class="jqx-calendar-title-container jqx-calendar-title-container-arctic
						   jqx-reset jqx-reset-arctic jqx-widget-header jqx-widget-header-arctic
                           jqx-calendar-title-header jqx-calendar-title-header-arctic">
					<td nowrap="" style="background-color: transparent;float: left;">
						<div data-bind="click:showPre"
							class="jqx-calendar-title-navigation jqx-calendar-title-navigation-arctic
                                   jqx-icon-arrow-left jqx-icon-arrow-left-arctic"></div>
					</td>
					<td aria-live="assertive" aria-atomic="true"
						align="center" nowrap="" style="background-color: transparent;">
						<div style="background: transparent; margin: 0; padding: 0; border: none;"
							class="jqx-calendar-title-content jqx-calendar-title-content-arctic"
                         data-bind="click: changeShowState, text: titleText"></div>
					</td>
					<td nowrap=""
						style="background-color: transparent;"><div data-bind="click:showNext"
							style="float: right;"
							class="jqx-calendar-title-navigation jqx-calendar-title-navigation-arctic
                                   jqx-icon-arrow-right jqx-icon-arrow-right-arctic"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<table class="jqx-calendar-month jqx-calendar-month-arctic"
		style="margin: 0px; border-spacing: 0px;" cellspacing="0"
		cellpadding="0">
		<tbody style="border: none; background: transparent;">
			<tr height="20" data-bind="if: showState()==0"
				class="calendar-header calendar-header-arctic jqx-reset jqx-reset-arctic">
				<td width="0" class="jqx-reset jqx-reset-arctic jqx-calendar-top-left-header
                           jqx-calendar-top-left-header-arctic"
					style="display: none;"></td>
				<td colspan="3"
					style="border: none; padding-left: 2px; padding-right: 2px">
					<table style="border-spacing: 0px; border-collapse: collapse; width: 100%; height: 100%;"
						cellspacing="0" cellpadding="1"
						class="jqx-reset jqx-reset-arctic jqx-widget-content jqx-widget-content-arctic
                               jqx-calendar-column-header jqx-calendar-column-header-arctic">
						<tbody style="border: none; background: transparent;">
							<tr class="jqx-reset jqx-reset-arctic" data-bind="foreach:isWest?westWeekDays:weekDays">
								<td
									style="padding: 1px; margin: 0px; border: none; width: 194.285714285714px; background: transparent;">
									<div style="padding: 0; margin: 0; border: none; background: transparent;" 
									class="jqx-calendar-column-cell jqx-calendar-column-cell-arctic" 
									data-bind="text: $data"></div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<!-- ko if: showState()==0 -->
			<tr class="jqx-reset jqx-reset-arctic">
				<td valign="top" height="-45" width="0"
					style="display: none; height: 205px;"></td>
				<td valign="top" colspan="3"
					style="padding-left: 2px; padding-right: 2px; border-color: transparent; height: 205px;"
					 height="-45">
					 <table style="width: 100%; height: 100%; border-color: transparent;"
						cellspacing="2" cellpadding="1">
						<tbody style="border: none; background: transparent;" data-bind="foreach: DateItems">
							<tr data-bind="foreach: $data">
								<td data-bind="click: selectDay,
															  event:{mouseover: showHover,mouseout: hiddenHover},
															  text: day, css:{'jqx-calendar-cell-othermonth':monthInd()!=0,
																			  'jqx-calendar-cell-othermonth-arctic':monthInd()!=0,
																			  'jqx-calendar-cell-selected':isSelect,
																			  'jqx-calendar-cell-selected-arctic':isSelect,
																			  'jqx-calendar-cell-hover-arctic':isHover,
																			  'jqx-calendar-cell-hover-arctic':isHover}"
									class="jqx-rc-all jqx-rc-all-arctic jqx-item jqx-item-arctic jqx-calendar-cell jqx-calendar-cell-arctic jqx-calendar-cell-month jqx-calendar-cell-month-arctic">
								</td>
								
						</tbody>
					</table>
				</td>
			</tr>
			<!-- /ko -->
			
			<!-- ko if: showState()==1 -->
			<tr class="jqx-reset jqx-reset-arctic">
				<td valign="top" height="-45" width="0"
					style="display: none; height: 205px;"></td>
				<td valign="top" colspan="3"
					style="padding-left: 2px; padding-right: 2px; border-color: transparent; height: 205px;"
					 height="-45">
					 <table style="width: 100%; height: 100%; border-color: transparent;"
						cellspacing="2" cellpadding="1">
						<tbody style="border: none; background: transparent;" data-bind="foreach: MonthItems">
							<tr data-bind="foreach: $data">
								<td data-bind="click: selectMonth,
															  event:{mouseover: showHover,mouseout: hiddenHover},
															  text: monthName, css:{
																			  'jqx-calendar-cell-selected':isSelect,
																			  'jqx-calendar-cell-selected-arctic':isSelect,
																			  'jqx-calendar-cell-hover-arctic':isHover,
																			  'jqx-calendar-cell-hover-arctic':isHover}"
									class="jqx-rc-all jqx-rc-all-arctic jqx-item jqx-item-arctic jqx-calendar-cell jqx-calendar-cell-arctic jqx-calendar-cell-month jqx-calendar-cell-month-arctic">
								</td>
								
						</tbody>
					</table>
				</td>
			</tr>
			<!-- /ko -->
			
			<!-- ko if: showState()==2 -->
			<tr class="jqx-reset jqx-reset-arctic">
				<td valign="top" height="-45" width="0"
					style="display: none; height: 205px;"></td>
				<td valign="top" colspan="3"
					style="padding-left: 2px; padding-right: 2px; border-color: transparent; height: 205px;"
					 height="-45">
					 <table style="width: 100%; height: 100%; border-color: transparent;"
						cellspacing="2" cellpadding="1">
						<tbody style="border: none; background: transparent;" data-bind="foreach: YearItems">
							<tr data-bind="foreach: $data">
								<td data-bind="click: selectYear,
															  event:{mouseover: showHover,mouseout: hiddenHover},
															  text: yearName, css:{
																			  'jqx-calendar-cell-selected':isSelect,
																			  'jqx-calendar-cell-selected-arctic':isSelect,
																			  'jqx-calendar-cell-hover-arctic':isHover,
																			  'jqx-calendar-cell-hover-arctic':isHover}"
									class="jqx-rc-all jqx-rc-all-arctic jqx-item jqx-item-arctic jqx-calendar-cell jqx-calendar-cell-arctic jqx-calendar-cell-decade jqx-calendar-cell-decade-arctic">
								</td>
								
						</tbody>
					</table>
				</td>
			</tr>
			<!-- /ko -->
		</tbody>
	</table>
	
	</div>
</div>