<div class="accordion"  data-bind="foreach: panels">
	<div class="accordion-group" >
		<div class="accordion-heading" style="padding:1px; background-color: #eeeeee;">
			<span class="accordion-toggle"
				data-bind="click: $parent.setSelectedPanel, text: title"></span>
		</div>
		<div class="accordion-body collapse" style="height: auto;"
			data-bind="style:{height: route == $parent.selectedPanelRoute() ? 'auto':0,
				'display': route == $parent.selectedPanelRoute()? 'block':'none'}">
			<!-- ko if: $parent.isContentType -->
				<div class="accordion-inner" data-bind="html: content"></div>
			<!-- /ko -->
			<!-- ko ifnot: $parent.isContentType -->
				<div class="accordion-inner" data-bind="component: templateOptions"></div>
			<!-- /ko -->
		</div>
	</div>
</div>