<div class="btn-group"
	data-bind="css:{'open': isShowDropdownOptions},
				event:{mouseover: doOpenDropdownOptions,mouseout: doCloseDropdownOptions}" >

	<!-- ko ifnot:isSplit -->
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<!-- ko text: selectedItem().text--><!-- /ko -->
			<span class="caret"></span>
		</button>
	<!-- /ko -->
	
	<!-- ko if: isSplit-->
		<button class="btn" data-bind="text:selectedItem().text"></button>
		<button class="btn dropdown-toggle" data-toggle="dropdown">
    		<span class="caret"></span>
  		</button>
  	<!-- /ko -->
  	
	<ul class="dropdown-menu" data-bind="foreach: items" style="margin-top: -1px;">
		<li><a href="#" data-bind="text: text,click: $parent.selectItem"></a> </li>
	</ul>
</div>