<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#" data-bind="text: navTitle"></a>
			
		<ul class="nav"	data-bind="foreach: items" >
			<li data-bind="	event:{mouseover:$parent.openSubItems,mouseout:$parent.closeSubItems},
							css:{'active': $parent.selectedRoute()==route, 
								'dropdown': hasChildren, 
								'open': hasChildren && ($parent.hoverItem()!=null) && ($parent.hoverItem().route==route)}">
				<a href='#' data-bind="css:{'dropdown-toggle': hasChildren},
						attr:{href: route,'data-toggle': hasChildren?'dropdown':''},
						click:$parent.setSelectRoute">
					<span data-bind="text: text"></span>
					<b class="caret bottom-up" data-bind="visible: hasChildren"></b>
				</a>
				
				<!-- ko if:hasChildren -->
				
				<ul class="dropdown-menu dropdown" style="margin-top: -1px;"
					data-bind="foreach: children">
					<li>
						<a data-bind="text: text, attr:{href: route},click:$parents[1].setSelectRoute"></a>
					</li>
				</ul>
				<!-- /ko -->
			</li>
			<!-- ko if: $parent.isShowDividerVertical -->
				<li class="divider-vertical"></li>
			<!-- /ko -->
		</ul>
		
		<div class="navbar-search pull-right" action="">
           	<input type="text" class="search-query" style='width:60px' placeholder="搜索">
        </div>
	</div>
</div>
