<style>
button{
	border:0px;
}
</style>
<div style="width:210px;height:210px;border: 1px solid #eeeeee;" >
	<div>
		<div class="btn-group" style="margin-left:0px;">
			<button class="btn btn-info" style="padding:0px;margin: 0 auto;width:30px;height:30px;">L</button>
			<button class="btn" style="padding:0px;margin: 0 auto;width:150px;height:30px;">2015年5月</button>
			<button class="btn btn-info" style="padding:0px;margin: 0 auto;width:30px;height:30px;">R</button>
		</div>
	</div>

	<div class="btn-group" style="margin-left:0px;">
		<button class="btn" disabled=true style="padding:0px;margin: 0 auto;width:30px;height:30px;border:0;">一</button>
		<button class="btn" disabled=true style="padding:0px;margin: 0 auto;width:30px;height:30px;border:0;">二</button>
		<button class="btn" disabled=true style="padding:0px;margin: 0 auto;width:30px;height:30px;border:0;">三</button>
		<button class="btn" disabled=true style="padding:0px;margin: 0 auto;width:30px;height:30px;border:0;">四</button>
		<button class="btn" disabled=true style="padding:0px;margin: 0 auto;width:30px;height:30px;border:0;">五</button>
		<button class="btn" disabled=true style="padding:0px;margin: 0 auto;width:30px;height:30px;border:0;">六</button>
		<button class="btn" disabled=true style="padding:0px;margin: 0 auto;width:30px;height:30px;border:0;">七</button>
	</div>
	
	<div class="btn-group" style="margin-left:0px;">
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">1</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">2</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">3</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">4</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">5</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">6</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">7</button>
	</div>
	<div class="btn-group" style="margin-left:0px;">
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">8</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">9</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">10</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">11</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">12</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">13</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">14</button>
	</div>
	<div class="btn-group" style="margin-left:0px;">
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">15</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">16</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">17</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">18</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">19</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">20</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">21</button>
	</div>
	<div class="btn-group" style="margin-left:0px;">
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">22</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">23</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">24</button>
		<button class="btn btn-primary" style="padding:0px;margin: 0 auto;width:30px;height:30px;">25</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">26</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">27</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">28</button>
	</div>
	<div class="btn-group" style="margin-left:0px;">
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">29</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">30</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;">31</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;color:#aaa;">1</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;color:#aaa;">2</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;color:#aaa;">3</button>
		<button class="btn" style="padding:0px;margin: 0 auto;width:30px;height:30px;color:#aaa;">4</button>
	</div>
</div>