<ul class="jqx-tree-dropdown-root jqx-tree-dropdown-root-arctic" style="width: 166px; min-width: 146px;"
     data-bind="template: {name: 'treeTmpl',foreach: items}">
</ul>

<script id="treeTmpl" type="text/html">
	<li class="jqx-tree-item-li jqx-tree-item-li-arctic jqx-disableselect jqx-disableselect-arctic"
        style="margin-left: 0px; float: none;">
        <!-- ko if:hasChildren-->
		<span style="height: 17px; border: none; float: left; clear: both; width: 16px; margin-top: 3px; background-color: transparent;"
               data-bind="click: modifyExpand,
               css:{'jqx-tree-item-arrow-collapse jqx-tree-item-arrow-collapse-arctic jqx-icon-arrow-right jqx-icon-arrow-right-arctic':isExpand()==false,
               	'jqx-tree-item-arrow-expand jqx-tree-item-arrow-expand-arctic jqx-icon-arrow-down jqx-icon-arrow-down-arctic':isExpand
               }"></span>
         <!-- /ko -->
	<div style="display: inline-block;" class="draggable jqx-rc-all jqx-rc-all-arctic 
											   jqx-tree-item jqx-tree-item-arctic 
											  jqx-item jqx-item-arctic"
         data-bind="text:text, css:{'jqx-tree-item-selected jqx-tree-item-selected-arctic':isAct,
         							'jqx-tree-item-hover jqx-tree-item-hover-arctic':isHover},
                    click: actItem,event:{mouseover:showHover,mouseout:hiddenHover}"></div>
		<ul class="jqx-tree-dropdown jqx-tree-dropdown-arctic" style="overflow: hidden;"
		    data-bind="template: {name: 'treeTmpl',foreach: children,if:isExpand}">
			
		</ul>
	</li>
</script>